upstream api {
    server backend:8000;
}

server {
    listen 80 default_server;
    return 444;
}

server {
    listen 80 deferred;
    listen [::]:80 deferred;
    server_name localhost;
    server_tokens on;

    gzip on;
    gunzip on;

    location ~ ^/(api|admin|swagger|back-static|media) {
        proxy_set_header Host $http_host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        proxy_buffering off;
        proxy_redirect off;
        proxy_pass_request_headers on;

        proxy_pass http://api;
    }


    location / {
        root /www/data/kochapp;
        index index.html;
        try_files $uri $uri/ /index.html;
    }

}
