/*Order Placement*/
.section__placement {
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 150px;
    width: 618px;
}

.placement__title {
    font-family: "Gilroy-SemiBold", serif;
    font-size: 26px;

    color: #000000;
}

/*Filter Direction*/
.placement__direction {
    padding-top: 50px;
}

.direction__address {
    font-family: "Gilroy-Medium", serif;
    font-size: 16px;

    color: #000000;
}

.placement__direction__title {
    font-family: "Gilroy-Medium", serif;
    font-size: 12px;

    padding-top: 20px;
    color: #000000;
}

.direction__from, .direction__to {
    display: flex;
    justify-content: space-between;
    padding-top: 4px;
}

.direction__selection {
    font-family: "Gilroy-Medium", serif;
    font-size: 16px;

    color: #909090;

    padding: 8px 10px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px;
    width: 200px;
}

.direction__selection-date {
    font-family: "Gilroy-Medium", serif;
    font-size: 16px;

    color: #909090;

    padding: 7px 10px;

    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px;
    width: 200px;
}

/*Comments*/

.placement__comment {
    padding-top: 20px;
}

.comment__sender, .comment__cargo {
    font-family: "Gilroy-Medium", serif;
    font-size: 16px;
    color: #909090;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    height: 120px;
    padding: 8px 10px;
}

/*Placement Cargo*/

.placement__cargo, .placement__transport {
    padding-top: 60px;
}

.placement__cargo__title, .placement__transport__title {
    font-family: "Gilroy-SemiBold", serif;
    font-size: 16px;
    padding-bottom: 20px;
    color: #000000;
}

.placement__cargo-fields, .placement__transport-fields {
    padding-top: 8px;
}

.placement__cargo-size {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}

.placement__cargo-selection, .placement__transport-selection {
    font-family: "Gilroy-Medium", serif;
    font-size: 16px;

    color: #909090;
    padding: 8px 10px;

    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px 4px;
    width: 200px;
}

.name-selection {
    width: 372px;
}

/*Placement Contacts*/
.placement__contacts {
    padding-top: 60px;
}

.placement__contacts-title {
    font-family: "Gilroy-SemiBold", serif;
    font-size: 16px;

    color: #000000;
    padding-bottom: 20px;
}

/*Placement Payment*/
.placement__payment {
    padding-top: 82px;
}

.placement__payment-title {
    font-family: "Gilroy-SemiBold", serif;
    font-size: 16px;

    color: #000000;
    padding-bottom: 20px;
}

.placement__button {
    display: flex;
    justify-content: center;
    padding-top: 79px;
}

.placement__place-button {
    font-family: "Gilroy-SemiBold", serif;
    font-size: 18px;

    color: #FFFFFF;
    padding: 8px 12px;
    background: #007AFF;
    border: solid #007AFF 1px;
    border-radius: 4px;
    margin-bottom: 157px;
    cursor: pointer;
}

.error__description-order {
    font-family: "Gilroy-Medium", serif;
    font-size: 12px;

    color: #ff0000;
}