/*Driver Section*/

.section__driver-profile {
    padding-top: 70px;
}

.driver__data {
    display: flex;
    justify-content: center;
}

.driver__inner {
    width: 50%;
}

.driver__title {
    font-family: "Gilroy-SemiBold", serif;
    font-size: 26px;

    color: #000000;
}

.driver__activation-title {
    font-family: "Gilroy-Medium", serif;
    font-size: 14px;

    color: #000000;
}

.driver__form {
    padding-top: 50px;
}

/*Transport*/
.driver__transport {
    padding-top: 38px;
}

.driver__transport-title {
    font-family: "Gilroy-SemiBold", serif;
    font-size: 16px;

    color: #000000;
}

.driver__transport-section {
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
}

.driver__transport-type-selection {
    font-family: "Gilroy-Medium", serif;
    font-size: 16px;

    color: #909090;

    width: 200px;
    padding: 8px 10px;

    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px;
}

/*Transport Size*/
.driver__transport-size {
    padding-top: 12px;
}

.driver__transport-size-section {
    display: flex;
    flex-direction: column;
}

.driver__transport-volume {
    padding-top: 8px;
}

.driver__transport-volume-selection {
    font-family: "Gilroy-Medium", serif;
    font-size: 16px;

    color: #909090;
    width: 200px;
    padding: 8px 10px;

    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px 4px;
}

/*Documents*/
.driver__documents {
    padding-top: 60px;
}

.driver__documents-title {
    font-family: "Gilroy-SemiBold", serif;
    font-size: 16px;

    color: #000000;
}

.driver__documents-section {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

/* Image */

.img__holder {
    height: 150px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
}

.img {
    height: 100%;
    object-fit: cover;
}

#input[type="file"], #vehicle_passport, #driver_license, #id_passport {
    display: none;
}

.image__label {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.image__upload {
    font-family: "Gilroy-SemiBold", serif;
    font-size: 12px;

    color: #FFFFFF;
    padding: 4px 6px;
    background: #007AFF;
    border: solid #007AFF 1px;
    border-radius: 4px;
}

.driver__documents-name {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding-top: 20px;
    font-family: "Gilroy-Medium", serif;
    font-size: 12px;

    color: #000000;
}

.driver__button {
    display: flex;
    justify-content: center;
    padding-top: 79px;
}

.driver__saveButton {
    font-family: "Gilroy-SemiBold", serif;
    font-size: 18px;

    color: #FFFFFF;
    padding: 8px 12px;
    background: #007AFF;
    border: solid #007AFF 1px;
    border-radius: 4px;
}